

@import 'tailwindcss';

@custom-variant dark (&:where(.darkmode, .darkmode *));


@theme {
    --font-arimo: "Arimo", sans-serif;
    --font-century: "CenturyGothic", sans-serif;
    --font-century-bold: "CenturyGothicBold", sans-serif;
    --font-now: "Now", sans-serif;
}

@theme {
    --color-app: #2D5980;
}
